<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stu" class="com.rakesh.model.Student">
		<constructor-arg type="java.lang.String">
			<value>101</value>
		</constructor-arg >     
		<constructor-arg type="java.lang.String">
			<value>Rakesh</value>
		</constructor-arg>     
		<constructor-arg type="java.lang.String">
			<value>210</value>
		</constructor-arg> 
		<constructor-arg type="java.lang.Integer">
			<value>25</value>
		</constructor-arg>     
    </bean>

</beans>	