<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stu" class="com.rakesh.model.Student">
		<property name="id">
		   <value>101</value>
		</property>    		
		
		<property name="name">
		   <value>Rakesh</value>
		</property> 
		
		<property name="address">
		   <value>Pune</value>
		</property>     
    </bean>

</beans>	