<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="s" class="com.rakesh.model.Student" autowire="constructor">
		<constructor-arg name="id" value="101"/>
		<constructor-arg name="name" value="Rakesh"/>
    </bean>
    
    <bean name="add" class="com.rakesh.model.Address" >
          <constructor-arg name="street" value="Kharadi Bypass"/>
          <constructor-arg name="city" value="Pune"/>
          <constructor-arg name="state" value="MH"/>
    </bean>

</beans>	